IDR_ICON1      ICON    "icon.ico"
IDR_BOARD      BITMAP  "assets\\images\\chessboard.jpg"
IDR_W_KING     PNG     "assets\\images\\white_king.png"
IDR_W_QUEEN    PNG     "assets\\images\\white_queen.png"
IDR_W_ROOK     PNG     "assets\\images\\white_rook.png"
IDR_W_BISHOP   PNG     "assets\\images\\white_bishop.png"
IDR_W_KNIGHT   PNG     "assets\\images\\white_knight.png"
IDR_W_PAWN     PNG     "assets\\images\\white_pawn.png"
IDR_B_KING     PNG     "assets\\images\\black_king.png"
IDR_B_QUEEN    PNG     "assets\\images\\black_queen.png"
IDR_B_ROOK     PNG     "assets\\images\\black_rook.png"
IDR_B_BISHOP   PNG     "assets\\images\\black_bishop.png"
IDR_B_KNIGHT   PNG     "assets\\images\\black_knight.png"
IDR_B_PAWN     PNG     "assets\\images\\black_pawn.png"

IDR_CAPTURE_SOUND   WAVE  "assets\\sounds\\capture.wav"
IDR_CASTLE_SOUND    WAVE  "assets\\sounds\\castle.wav"
IDR_CLICK_SOUND     WAVE  "assets\\sounds\\click.wav"
IDR_ILLEGAL_SOUND   WAVE  "assets\\sounds\\illegal.wav"
IDR_MOVE_SOUND      WAVE  "assets\\sounds\\move.wav"
IDR_PROMOTE_SOUND   WAVE  "assets\\sounds\\promote.wav"